<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSV Processing Tool</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">
</head>
<body>
    <h1 class="title">TNEA Smart Seat Allocation Tool (SMAAT)</h1>
    
    <div class="container">

       
            
            <div class="box">
                <h2>STEP-3: Integer Value and Adjustment Process</h2>
                <form action="/" method="post" enctype="multipart/form-data">
                    <input type="file" name="file" required>
                    <select name="process_type">
                        <option value="process3">Process 3</option>
                    </select>
                    <button type="submit">Upload and Process</button>
                </form>
            </div>
       
            <div class="box">
                <h2>STEP-4: Generate Excel Report with Summaries</h2>
                <form action="/" method="post" enctype="multipart/form-data">
                    <input type="file" name="file" required>
                    <select name="process_type">
                        <option value="process4">Process 4</option>
                    </select>
                    <button type="submit">Upload and Process</button>
                </form>
            </div>

        <div class="box">
            <h2>STEP-2: Caste Wise Decimal Value Division</h2>
            <form action="/" method="post" enctype="multipart/form-data">
                <input type="file" name="file" required>
                <select name="process_type">
                    <option value="process2">Process 2</option>
                </select>
                <button type="submit">Upload and Process</button>
            </form>
        </div>
        <div class="box">
        <h2>STEP-1: Divide No. Of Seats into 92.5% + 7.5%</h2>
        <form action="/" method="post" enctype="multipart/form-data">
            <input type="file" name="file" required>
            <select name="process_type">
                <option value="process1">Process 1</option>
            </select>
            <button type="submit">Upload and Process</button>
        </form>
    </div>

      
    </div>
</body>
</html>
