<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSV Processing Tool</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1 class="title">TNEA Smart Seat Allocation Tool (SMAAT)</h1>
    
    <div class="container">
        <!-- First Box -->
        <div class="box">
            <h2>STEP-2: Caste Wise Decimal <br> Value Division </h2>
            <label for="file1">Upload CSV File:</label>
            <input type="file" name="file1" id="file1" required>
            <label for="process_type1">Select Processing Type:</label>
            <select name="process_type1" id="process_type1">
                
                <option value="process2">Process 2</option>
         
            </select>
            <button type="submit">Upload and Process</button>
        </div>

        <!-- Second Box -->
        <div class="box">
            <h2>STEP-3: Integer Value and Adjustment Process of Decimal Values </h2>
            <label for="file2">Upload CSV File:</label>
            <input type="file" name="file2" id="file2" required>
            <label for="process_type2">Select Processing Type:</label>
            <select name="process_type2" id="process_type2">
          
                <option value="process3">Process 3</option>
            </select>
            <button type="submit">Upload and Process</button>
        </div>

        <!-- Third Box -->
        <div class="box">
            <h2>STEP-1: Divide No. Of Seats <br> into 92.5% + 7.5%</h2>
            <label for="file3">Upload CSV File:</label>
            <input type="file" name="file3" id="file3" required>
            <label for="process_type3">Select Processing Type:</label>
            <select name="process_type3" id="process_type3">
                <option value="process1">Process 1</option>
               
            </select>
            <button type="submit">Upload and Process</button>
        </div>
    </div>

    <!-- Footer Section -->
    <div class="footer">
        <p>Developed by <strong>DiffuseAi</strong></p>
        <p><em>A Student Driven Endeavour</em></p>
    </div>
</body>
</html>
